.description {
	padding-top: 10px;
	padding-bottom: 49px;

	@media #{$tablet-only} {
		padding-top: 54px;
	}
}

.description__title {
	margin-bottom: 40px;
	line-height: 40px;
	color: var(--black);
}

.description__list {
	display: grid;
	gap: 20px;
	margin-block: 0;
	list-style-type: none;
	padding-left: 0;
}

.description__text {
	position: relative;
	margin-block: 0;
	padding-left: 80px;
	min-block-size: 60px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		block-size: 60px;
		inline-size: 60px;
		background: var(--accent-color) var(--bcg) no-repeat center / var(--bcg-sz);
	}

	&--leaf {
		--bcg: url("../../icons/stack.svg#descr-leaf");
		--bcg-sz: 31px 32px;
	}

	&--water {
		--bcg: url("../../icons/stack.svg#descr-water");
		--bcg-sz: 26px 29px;
	}

	&--eat {
		--bcg: url("../../icons/stack.svg#descr-eat");
		--bcg-sz: 25px 30px;
	}

	&--scales {
		--bcg: url("../../icons/stack.svg#descr-leaf");
		--bcg-sz: 26px 31px;
	}
}
