.header {
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	column-gap: 40px;
	min-block-size: 65px;
	padding-top: 10px;
	padding-bottom: 17px;
	z-index: 2;
}

.header--js-on {
	&::before {
		content: "";
		position: absolute;
		inset: 0 0 0 0;
		background: var(--white);
		z-index: 2;
	}
}

.header__logo-link {
	position: relative;
	text-decoration: none;
	color: inherit;
	z-index: 3;
}

.header__logo-link--img {
	grid-column: 1 / 2;
	justify-self: start;
}

.header__logo-link--text {
	grid-column: 2 / 3;
	justify-self: center;
}

.header__logo-img {
	display: block;
}

.header__logo-text {
	display: block;
}
