.link-btn {
	text-align: center;
	padding-inline: 20px;
	padding-block: 11px;
	inline-size: 280px;
	min-block-size: 40px;
	font-family: var(--accent-font);
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--white);
	background: var(--accent-color);

	@media #{$not-mobile} {
		padding-block: 16px;
		inline-size: 244px;
		font-size: 20px;
		line-height: 20px;
	}
}
