.nav {
	padding-top: 18px;
	z-index: 1;
	background: var(--white);

	@media #{$tablet-only} {
		background: transparent;
	}
}

.nav--js-on {
	position: absolute;
	top: 100%;
	right: 0;
	left: -20px;
	width: 100vw;
	padding-top: 0;
	visibility: hidden;
	transform: translateY(-150%);
	transition: visibility 0.4s, transform 0.4s cubic-bezier(0, 0.76, 0.74, 0.92);

	@media #{$tablet-only} {
		position: initial;
		width: 440px;
		visibility: visible;
		transform: none;
	}
}

.nav--active {
	visibility: visible;
	transform: none;
}

.nav__list {
	margin-block: 0;
	padding-left: 0;
	list-style-type: none;

	@media #{$tablet-only} {
		display: flex;
		flex-wrap: wrap;
		column-gap: 35px;
		row-gap: 10px;
	}
}

.nav__link {
	display: block;
	padding-top: 22px;
	padding-inline: 55px;
	padding-bottom: 24px;
	border-top: 1px solid var(--nav-border);
	font-family: var(--accent-font);
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: var(--black);

	@media #{$tablet-only} {
		padding-top: 10px;
		padding-inline: 0;
		padding-bottom: 10px;
		border-top: none;
		border-bottom: 2px solid transparent;
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
	}
}
