.promo {
	position: relative;
	padding-top: 27px;
	padding-bottom: 10px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 302px;
		background:
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			),
			var(--bg-image) no-repeat center / contain,
			linear-gradient(to right,
			#504f55 50%,
			#434248 50%);
		background-color: #3e3d42;
	}

	@include bg-image(cat-bcg);
}

.promo__container {
	position: relative;
	display: grid;
	justify-items: center;
	z-index: 1;
}

.promo__title {
	margin-bottom: 25px;
	text-align: center;
	color: var(--white);
}

.promo__descr {
	margin-top: 0;
	margin-bottom: 29px;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: var(--white);
}

.promo__wrap-img {
	margin-bottom: 3px;
}

.promo__image {
	display: block;
}

.promo__link {
	margin-inline: auto;
}
