.title-big,
.title {
	margin-top: 0;
	font-family: var(--accent-font);
	font-weight: 400;
}

.title-big {
	font-size: 36px;
	line-height: 36px;

	@media #{$tablet-only} {
		font-size: 60px;
		line-height: 60px;
	}
}

.title {
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;

	@media #{$tablet-only} {
		font-size: 36px;
		line-height: 36px;
	}
}
