:root {
	--main-font: "Lato", sans-serif;
	--accent-font: "Oswald", sans-serif;
	--main-color: #444444;
	--accent-color: #68b738;
	--color-no-name: #111111;
	--white: #ffffff;
	--black: #000000;
	--nav-border: #e6e6e6;
	--color-bcg: #f2f2f2;
	--color-bcg-dark: #eaeaea;
	--color-border: #d9d9d9;
	--color-dl-border: #cdcdcd;
	--bcg-social: #646363;
}
