<section class="contacts">
	<div class="contacts__wrap-address page__centerer">
		<h2 class="contacts__title">Приглашаем к&nbsp;сотрудничеству дилеров!</h2>
		<address>
			<p class="contacts__address">ул. Большая Конюшенная,&nbsp;д.&nbsp;19/8 Санкт-Петербург</p>
		</address>
	</div>
	<div class="contacts__wrap-map">
		<iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036257198145!2d30.320472477357345!3d59.93871916209355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1684442912112!5m2!1sru!2sru" width="320" height="362" allowfullscreen loading="lazy" title="Адрес магазина на карте"></iframe>
	</div>
</section>
