<header>
	<nav class="main-nav">
		<ul class="main-nav__list">
			{% for page in pages %}
			<li class="main-nav__item">
				<a href="{{ page.path }}" class="main-nav__link link"{% if permalink == page.path %} aria-current="page"{% endif %}>{{ page.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
