<ul class="social {% if footerId %} footer__social {% endif %}">
	<li class="social__list">
		<a class="social__link social__link--vk" href="https://vk.com/htmlacademy" aria-label="Ссылка на социальную сеть В Контакте"></a>
	</li>
	<li class="social__list">
		<a class="social__link social__link--youtube" href="https://www.youtube.com/user/htmlacademyru" aria-label="Ссылка на Ютуб"></a>
	</li>
	<li class="social__list">
		<a class="social__link social__link--telegram" href="https://t.me/htmlacademy" aria-label="Ссылка на социальную сеть Телеграм"></a>
	</li>
</ul>
